%h1 Dashboard

%table
  %tr
    %th Title
    %th Repository
    %th Reviewer
    %th Opened at
  - @pull_requests.each do |pull_request|
    %tr
      %td= link_to pull_request.title, pull_request_path(pull_request)
      %td= pull_request.repository.name
      %td
        - if pull_request.reviewer.present?
          = pull_request.reviewer.name
      %td= pull_request.opened_at
