%section.content-header
  %h1
    Dashboard
    %small beta version

%section.content
  - @pull_requests.each do |pull_request|
    .box.box-default
      .box-header.with-border
        %h3.box-title
          = pull_request.repository.name
      .box-body
        The pull request description goes here