%h1="Repositories list"

=link_to 'Refresh repositories list', refresh_repositories_path

%table
  %thead
    %tr
      %th="Repository"
      %th="Owner"
      %th="Is synchronized?"
      %th="Actions"
  %tbody
    - @repositories.each do |repo|
      %tr
        %td= repo.name
        %td= repo.owner
        %td= repo.synchronized
        %td
          =link_to 'Add', add_repository_path(repo)
          =link_to 'Remove', remove_repository_path(repo)