SLACK_WEBHOOK_URL: "https://hooks.slack.com/services/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"
SLACK_DEFAULT_CHANNEL: '#code-review'
GITHUB_ACCESS_TOKEN: token

GITHUB_APP_CLIENT_ID: app_id
GITHUB_APP_CLIENT_SECRET: app_secret

MAIL_SMTP_SETTINGS_FROM: 'cr@visuality.pl'
ACTION_MAILER_HOST: 'localhost:3000'
ACTION_MAILER_ASSET_HOST: 'http://localhost:3000'
ACTION_MAILER_DELIVERY_METHOD: 'sendmail'

MAIL_SMTP_SETTINGS_ADDRESS: 'localhost'
MAIL_SMTP_SETTINGS_PORT: "1025"
MAIL_SMTP_SETTINGS_ENABLE_STARTTLS_AUTO: "false"
MAIL_SMTP_SETTINGS_DOMAIN: 'gmail.com'
MAIL_SMTP_SETTINGS_AUTHENTICATION: 'plain'
MAIL_SMTP_SETTINGS_USERNAME: 'xxx'
MAIL_SMTP_SETTINGS_PASSWORD: 'xxx'
