default: &default
  adapter: postgresql
  encoding: unicode
  pool: 5
  username: username
  password: password

development:
  <<: *default
  database: juggler_development

test:
  <<: *default
  database: juggler_test
